Package: com.nathanaccidentally.classic
Name: Classic
Depends: mobilesubstrate, firmware (>= 10.0)
Version: 1.1
Architecture: iphoneos-arm
Description: Back to the classics.
Maintainer: nathanaccidentally
Author: nathanaccidentally
Section: Tweaks